# DB
POSTGRES_DB=delivery
POSTGRES_USER=delivery
POSTGRES_PASSWORD=changeme

# Redis
REDIS_PASSWORD=changeme

# JWT
JWT_SECRET=your-256-bit-secret-key-here

# OpenAI API
OPENAI_API_KEY=your-openai-api-key

# GEMINI_API
GEMINI_API_KEY=your-gemini-api-key